

<h2><%= @listing.description.sub(/^./, &:upcase) %></h2>
<p>€<%= @listing.selling_price %> / ticket</p>

<% @listing.tickets.each do |ticket| %>
  <li>
    <%= link_to "Ticket (id: #{ticket.id})", edit_listing_ticket_path(@listing, ticket) %>
  </li>
<% end %>

<%= link_to "Homepage", root_path, :class => "btn"  %>

<% if policy(@listing).edit? %>
  <%= link_to "Add ticket", new_listing_ticket_path(@listing, @ticket), :class => "btn" %>
<% end %>

<% if policy(@listing).edit? %>
  <%= link_to "Edit listing", edit_listing_path(@listing), :class => "btn" %>
<% end %>

<% if policy(@listing).destroy? %>
  <%= link_to "Delete listing", listing_path(@listing), :class => "btn", :data => {:confirm => 'Are you sure?'}, :method => :delete %>
<% end %>
