<h2><%= @listing.description.sub(/^./, &:upcase) %></h2>
<p><%= "€#{@listing.selling_price} / ticket" %></p>
<p><%= "Ticket (id: #{@ticket.id})" %></p>

<% if policy(@listing).edit? %>
  <% @ticket.barcodes.each do |barcode| %>
    <li>
      <%= link_to "EAN-13: #{barcode.barcode}", ticket_barcode_path(@ticket, barcode) %>
    </li>
  <% end %>
<% end %>

<% unless @ticket.user_id %>
  <%= simple_form_for [@listing, @ticket] do |f| %>
    <%= f.button :submit, "Buy e-ticket" %>
  <% end %>
<% else %>
  <p>Ticket sold</p>
  <p><%= "Bought by: #{@ticket.user.email.chomp("@ticketswap.com").capitalize}" %></p>
  <p><%= "Transaction date: #{@ticket.bought_at_date.strftime("%A, %B %d, %Y")}" %></p>
<% end %>

<%= link_to "Back to listing", listing_path(@listing), :class => "btn" %>

<% if policy(@listing).edit? %>
  <%= link_to "Add barcode", new_ticket_barcode_path(@ticket, @barcode), :class => "btn" %>
<% end %>

<% if policy(@listing).destroy? %>
  <%= link_to "Delete ticket", listing_ticket_path(@ticket.listing_id, @ticket), :class => "btn", :data => {:confirm => 'Are you sure?'}, :method => :delete %>
<% end %>
